$body-color: #191919;
$contrast-color: #282828;
$secondary-color: #1d89ff;
$focus-color: #3f51b5;

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  flex-grow: 1;  
}

.podcast {
  display: flex;
}

.podcast-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20em;
  padding-left: 1rem;
  background: #0C2340;
  overflow: hidden;
  z-index: 2;
}

.podcast-list:hover {
  cursor: pointer;
  background: $focus-color;
}

.podcast-result {
  color: white;
}

.result-container {
  position: fixed;
  overflow-y: auto;
  height: 300px;
  z-index: 2;
  padding-top: 0.25em;
  padding-left: 1em;
}

#episode-list {
  visibility: hidden;
}

#display-episode {
  visibility: hidden;
}

.search-spinner {
  display: flex;
  align-items: flex-end;

  .MuiCircularProgress-colorSecondary {
    color: $focus-color;
  }
}