.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  flex-grow: 1;
}

.podcast {
  display: flex;
  color: #fefefe;
}

.podcast-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20em;
  padding-left: 1rem;
  background: #201f2f;
  overflow: hidden;
  z-index: 2;
}

.podcast-list:hover {
  cursor: pointer;
  background: #292479;
}

.props-result {
  font-weight: 700;
  font-size: 1.5rem;
}

.result-container {
  // position: absolute;
  position: fixed;
  overflow-y: scroll;
  height: 300px;
  z-index: 2;
}

::-webkit-scrollbar {
  display: none;
}

#episode-list {
  visibility: hidden;
}

#display-episode {
  visibility: hidden;
}