$navColour: rgb(13, 126, 255);

body {
  height: 100%;
  width: 100%;

  .room {
    background-color: black;
    border: 10px solid black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    

    .top-nav {
      flex-shrink: 0;
      // background-color: $roomColour;

      ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        margin: 0.2em;
      }
      .creator-name {
        color: $navColour;
      }
      .timer {
        color: $navColour;
        font-size: large;
      }
     
    }

    .main {
      flex-grow: 1;
      display: flex;

      .call-container {
        width: 70%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .call-video {
          padding: 2%;
          width: 45%;
          height: 45%;
        }
      }

      .side-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;

        .podcast-card {
          text-align: center;
          margin: 1em;
          padding: 5px;
        
          ul {
            list-style-type: none;
            text-align: left;
            padding: 10px;
          }
        
          img {
            mix-blend-mode: multiply;
          }
        }

        .embed-video {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          margin: 1em;
          padding: 1em;
        }

        .chat-box {
          flex-shrink: 0;
          margin: 1em;
          padding: 1em;
        }
      }
      

    }
  }
}


