$navColour: rgb(13, 126, 255);

audio:focus {
  outline: none;
}

body {
  border: 10px solid orange;
  max-height: 100vh;
  max-width: 100vw;

  .room {  
    // background-color: black;
    max-height: 100vh;
    max-width: 100vw;
  
    border: 5px solid purple;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    

    .top-nav {
      flex-shrink: 0;
      // background-color: $navColour;

      ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        margin: 0.2em;
      }
      .creator-name {
        color: $navColour;
      }
      .timer {
        color: $navColour;
        font-size: large;
      }
    } // .top-nav

    .main {
      border: 1px solid blue;
      flex-grow: 1;
      display: flex;

      .call-container {
        border: 1px solid black;
        width: 70%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .call-video video {
          padding: 2%;
          width: 60%;
          height: 60%;
        }
      }

      .side-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;

        .podcast-card {
          margin: 1em;

          .conversation-information {
            display: flex;
            flex-wrap: wrap;
            ul {
              list-style-type: none;
              text-align: center;
              padding: 10px;
            }
          }

          .podcast {
            // border: 1px solid red;

            .embed-video-title {
              color: black;
            }

            .embed-video {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;  
              
              .embed-video-audio-player {
                margin: 0.25em 1em;
                padding: 0.25em;
              }
            }
          }

          .conversation-information {
            justify-content: center;
          }

          #social-media {
            display: flex;
            width: 100%;
            justify-content: space-evenly;  
            margin: 0.5em;
          }
        } // .podcast-card

        
        .chat-box-card {
          margin: 1em;

          .chat-box-messages {
            position: relative;
            margin: 1em;
            padding: 1em;
            min-height: 80px;
  
            .chat-box-send-button {
              // display: flex;
              position: absolute;
              right: 0;
              bottom: 0;
              align-items: center;
              justify-content: center;
              border: 1px solid black;
            }
          }
        }
        
      } // .side-bar
      

    } // main
  } // .room
} // body


