body {
  height: 100%;
  width: 100%;

  .room {
    border: 10px solid black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    

    .top-nav {
      flex-shrink: 0;
      background-color: rgb(85, 85, 85);

      ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        margin: 1em;
      }
    }

    .chat-box {
      flex-shrink: 0;
      background-color: rgb(85, 85, 85)
    }

    .main {
      flex-grow: 1;
      display: flex;

      .call-container {
        width: 60%;

        .call-video {
          margin: 1em;
          width: 45%;
          height: 45%;
          border: 1px solid black;
        }
      }

      .side-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;

        border-right: 2px solid black;
  
        .info {
          display: flex;
          padding: 1em;
          margin: 1em;
          align-items: center;
          justify-content: center;
          border: 1px solid black;

          ul {
            list-style-type: none;
          }
          img {
            
          }
        }

        .embed-video {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          margin: 1em;
          padding: 1em;
          border: 1px solid black;
        }
      }
      

    }
  }
}



.podcast-card {
  background-color: rgba(85, 85, 85, 0.2) !important;
  text-align: center;
  margin: 1em;
  padding: 5px;
  

  ul {
    list-style-type: none;
    text-align: left;
    padding: 10px;
  }

  img {
    mix-blend-mode: multiply;
  }
}