
#form-title{
  text-align: center;
}
.new_room_form {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.form__validation{
  text-align: center;
  color: red;
}

.podcast-selectors {
  margin: 0 auto;
}

#simple-menu {
  text-align: center;
}
